.addBookForm {
  margin-bottom: 20px;
}

.container {
  width: 295px;
  padding: 20px;
  background-color: var(--input);
  border-radius: 12px;
}
.btnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconLink {
  display: flex;
  align-items: center;

  font-size: 18px;
}
