.headerBox {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.header {
  padding: 20px;
  width: 335px;
  border-radius: 15px;
  align-self: center;
  background-color: var(--badges);
  display: flex;
  justify-content: space-between;
}
