.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  padding: 10px 20px;
  height: 38px;
}
