.imgBox {
  border-radius: 8px;
  overflow: hidden;
  width: 137px;
  height: 208px;
  margin-bottom: 8px;
}

.img {
  height: 100%;
  object-fit: cover;
}
.bookCard h5 {
  grid-area: t;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 2px;
  max-width: 100%;
  max-height: 50px;
  overflow: auto;
}

.bookCard p {
  grid-area: a;
  color: var(--gray);
  font-size: 10px;
}

.deleteBtn {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: rgba(232, 80, 80, 0.1);
  border: 1px solid rgba(232, 80, 80, 0.2);
}

.infoBox {
  display: grid;
  grid-template-areas:
    "t b"
    "a b";
  column-gap: 14px;
}
