.boxHeader {
  position: relative;
}

.select {
  position: absolute;
  top: 12px;
  right: 20px;
}

.title {
  margin-bottom: 34px;
}

.emptyBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 100px 70px;
  padding-top: 63px;
}

.iconBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: var(--input);
}

.icon {
  width: 50px;
}

.emptyBox p {
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
  width: 197px;
}

.emptyBox span {
  color: var(--gray);
}

.imgBox {
  border-radius: 8px;
  overflow: hidden;
  width: 137px;
  height: 208px;
  margin-bottom: 8px;
}

.img {
  height: 100%;
  object-fit: cover;
}
.bookCard h5 {
  grid-area: t;
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #f9f9f9;
  margin-bottom: 2px;
  max-width: 100%;
  max-height: 50px;
  overflow: auto;
}

.bookCard p {
  grid-area: a;
  color: var(--gray);
  font-size: 10px;
}

.deleteBtn {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: rgba(232, 80, 80, 0.1);
  border: 1px solid rgba(232, 80, 80, 0.2);
}

.infoBox {
  display: grid;
  grid-template-columns: 1fr 28px;
  grid-template-areas:
    "t b"
    "a b";
  column-gap: 14px;
}
