.formName {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  margin-left: 14px;
}

form {
  width: 295px;
}

.imgBox {
  display: flex;
  justify-self: start;
}

.logo {
  height: 17px;
  margin-bottom: 40px;
}

input {
  background-color: transparent;
  outline: none;
  color: var(--white);
}

.label {
  color: var(--gray);
  font-size: 12px;
  white-space: nowrap;
}

.inputBox {
  align-items: center;
  display: flex;
  gap: 8px;
  background-color: var(--input);
  outline: none;
  color: var(--white);
  width: 100%;
  max-height: 44px;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 8px;
  position: relative;
}

.inputBox:last-of-type {
  margin-bottom: 20px;
}

.errorMsg {
  position: absolute;
  top: 54px;
  left: 0;
  font-size: 14px;
}
.title {
  line-height: 100%;

  font-size: 32px;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}

.title span {
  color: var(--gray30);
}

.btn {
  border-radius: 30px;
  padding: 12px 29px;
  width: 140px;
  background-color: var(--white);
  color: var(--black);
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  margin-right: 14px;
}

.secondaryBtn {
  font-size: 12px;
  line-height: 117%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--gray);
}

.grayBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: #f9f9f9;
  border: 1px solid var(--gray30);
  border-radius: 30px;
  padding: 10px 20px;
}

.inputBox.input {
  margin-bottom: 72px;
}
