@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Regular.woff") format("woff"),
    url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-family: "Gilroy" sans-serif;

  --white: #e5e5e5;
  --gray: #686868;
  --gray30: rgba(227, 227, 227, 0.3);
  --input: #262626;
  --badges: #1f1f1f;
  --black: #141414;
}
